---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { AboutProps, HeroProps } from "@types";

type Props = AboutProps & Pick<HeroProps, "name">;

const { description, image, name } = Astro.props;
---

<Section text="About Me" href="about">
  <div class="flex flex-col items-center gap-12 md:flex-row md:gap-12">


    <div class="flex-end">
      {Array.isArray(description) ? (

        description.map((section) => (
          <p class="w-auto text-base text-justify text-text md:pr-5">{section}</p>
          <br/>
        ))
      ) : (
        <p class="w-auto text-base text-text md:pr-5">{description}</p>
      )}
    </div>


    <div class="h-64 w-64 shrink-0 border border-accent rounded-full">
      <Image
        class="object-contain rounded-full"
        src={`${import.meta.env.BASE_URL}${image}`}
        width="260"
        height="260"
        alt={name}
      />
    </div>
  </div>
</Section>
